* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    font-size: 14px;
    font-weight: bold;
}

.image{
    background-image: url(./school.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.nav {
    min-height: 59px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around; 
    align-items: center;
}

.both {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.select{
    padding:10px;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 7rem;
    font-weight:lighter ;
    color: white;
    margin-bottom: 2rem;
}

.uni{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 4rem;

}

.ug{
    /* float: left; */
    /* margin-left: 30px; */
    /* width: 400px; */
    height: 120px;
    border: 2px lightgrey solid;
    border-radius: 20px;
    background: #f7f7f7;
    display: inline-flex;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    padding: 16px 18px 0px 0px;
    color: black;
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    /* margin-bottom: 50px; */
    /* margin-top: 30px; */
}
.tech {
    background: #f7f7f7;
    display: inline-flex;
    border: 2px lightgrey solid;
    border-radius: 20px;
    padding: 16px 18px 10px 10px;
    /* font-size: 25px; */
    font-family: sans-serif;
    text-transform: uppercase;
    gap: 10px;
    width: 100%;
    
}
.h{
    height: 85px
}
.k{
    height: 85px;

}
.knust{
    /* float: left; */
    /* margin-left: 70px; */
    /* width: 400px; */
    height: 135px;
    border: 2px lightgrey solid;
    border-radius: 20px;
    background: #f7f7f7;
    display: inline-flex;
    font-size: 30px;
    font-family: sans-serif;
    /* margin: 15px 10px; */
    color: black;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom:10px;
    padding-left: 5px;
    /* margin-top: 30px; */
}
.u1{
    color: rgb(7, 7, 83);
    text-align: left;
    margin-bottom: 0px;
    padding: 10px;
    /* margin-top: -5px; */
    /* font-size: 1.7rem; */

    
}
.u2{
    color: black;
    text-align: left;
    margin-bottom: 0px;
    padding: 10px;
    /* margin-top: -5px; */
    /* font-size: 1.7rem; */

}
.u{
    height: 85px;
}
.ucc{
    
    padding-top: 60px;
    /* margin-right: 300px; */
    /* width: 400px; */
    height: 120px;
    border: 2px lightgrey solid;
    border-radius: 20px;
    background: #f7f7f7;
    display: inline-flex;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    padding: 16px 18px 0px 0px;
    /* margin: 15px 10px; */
    color: black;
    /* margin-top: 30px; */



}
.u3{
    color: rgb(3, 3, 122);
    text-align: left;
    margin-bottom: 0px;
    padding: 10px;
    /* margin-top: -5px; */
    /* font-size: 1.7rem; */

}
.ue{
    height: 85px;
}
.uew{

    margin-left: 30px;
    /* width: 400px; */
    height: 120px;
    border: 2px lightgrey solid;
    border-radius: 20px;
    background: #f7f7f7;
    display: inline-flex;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    padding: 16px 18px 0px 0px;
    
    color: black;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 850px;
    margin-right: 10px;


}
.u4{
    color: blue;
    text-align: left;
    margin-bottom: 0px;
    padding: 10px;
    /* margin-top: -5px; */
    /* font-size: 1.7rem; */

}
.uh{
    height: 85px;
}
.u6{
    color: rgb(11, 59, 11);
    text-align: left;
    margin-bottom: 0px;
    padding: 10px;
    /* margin-top: -5px; */
    /* font-size: 1.7rem; */

}
.uhas{
    float: left;
    padding-left: 40px;
    /* width: 400px; */
    height: 120px;
    border: 2px lightgrey solid;
    border-radius: 20px;
    background: #f7f7f7;
    display: inline-flex;
    text-align: left;
    font-size: 30px;
    font-family: sans-serif;
    padding: 16px 18px 0px 0px;
    color: black;
    margin-top: -140px;
    margin-left: 10px;


}
.ud{
    height: 85px;
}
.u5{
    color: green;
    text-align: left;
    margin-bottom: 0px;
    padding: 10px;
    /* margin-top: -5px; */
    /* font-size: 1.7rem; */

}
.udps{
    float: left;
    margin-left: 430px;
    /* width: 400px; */
    height: 130px;
    border: 2px lightgrey solid;
    border-radius: 20px;
    background: #f7f7f7;
    display: inline-flex;
    text-align: left;
    font-size: 30px;
    font-family: sans-serif;
    padding: 16px 18px 0px 0px;
    margin-bottom: -100px;
    margin-top: -145px;
    margin-right: 70px;
    color: black;

}


.ic{
    height: 50px;
    
}
.ho{
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    
}
.tel1{
    color: rgb(8, 8, 146);
}
.tel2{
    color: rgb(22, 124, 22);

}
.button{
    border-radius: 20px;
    background-color: rgb(250, 179, 46);
    color: white;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 100px;
    padding: 10px;
}
.button:hover{
    background-color: rgb(25, 172, 25);
    cursor: grab;
}
.acc3{
    margin-left:100px;
    font-size: 20px;
    font-weight: bold;
}
.acc2{
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
}
.acc1{
    margin-left: 200px;
    font-size: 20px;
    font-weight: bold;
}

.all {
    /* margin-top: 20px; */
    border-width: 2px;
    border-style: solid;
    border-radius: 40px;
    padding: 7px;
    /* width: 420px; */
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-bottom: 18px; */
    color: rgb(253, 240, 55);
    /* margin-left: 50px; */
}

.icon {
    height: 50px;
    /* float: left; */
}



.tel1 {
    color: blue;
}

.tel2 {
    color: green;
}

.hunter {
    margin-top: 40px;
    margin-right: 30px;
}

.input {
    background-color: whitesmoke;
    
   
}



/* .nav.right {
    float: right;
    margin: right 1em;
} */

ul {
    list-style: none;
    display: inline-flex;
}

/* .nav .right li {
    float: right;
} */

a {
    display: block;
    padding: 17px 20px;
    line-height: 30px;
    color: #191919;
    text-decoration: none;
    font-size: 1rem;
    /* margin-left: 20px; */

}

/* .help {
    margin-right: 20px;
} */

.search {
    /* margin-right: 50px; */
    /* width: 120px; */
    height: 45px;
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 10px;
    padding-left: 10px;
    text-align: center;
    padding-top: -200px;
    padding-bottom: -15px;
    background-color: orangered;
    border-radius: 50px;
    color: white;
    font-weight: bolder;
    /* display: inline; */
    /* font-size: 20px; */




}


/* // Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .uni{
        grid-template-columns: repeat(2, 1fr);
    }
    .select{
        font-size: 2rem;
    }
}

@media (max-width: 576px){
    .uni{
        grid-template-columns: repeat(1, 1fr); 
        padding: 1rem;
    }
    .select{
        font-size: 1.5rem;
    }
 }

/* // Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {}